In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("amazon_reviews.csv")
df.drop(["Unnamed: 0"], axis=1, inplace=True)
df

,reviewerName,overall,reviewText,reviewTime,day_diff,helpful_yes,helpful_no,total_vote,score_pos_neg_diff,score_average_rating,wilson_lower_bound
0,NaN,4.0,No issues.,2014-07-23,138,0,0,0,0,0.0,0.0
1,0mie,5.0,"Purchased this for my device, it worked as adv...",2013-10-25,409,0,0,0,0,0.0,0.0
2,1K3,4.0,it works as expected. I should have sprung for...,2012-12-23,715,0,0,0,0,0.0,0.0
3,1m2,5.0,This think has worked out great.Had a diff. br...,2013-11-21,382,0,0,0,0,0.0,0.0
4,2&amp;1/2Men,5.0,"Bought it with Retail Packaging, arrived legit...",2013-07-13,513,0,0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4910,"ZM ""J""",1.0,I bought this Sandisk 16GB Class 10 to use wit...,2013-07-23,503,0,0,0,0,0.0,0.0
4911,Zo,5.0,Used this for extending the capabilities of my...,2013-08-22,473,0,0,0,0,0.0,0.0
4912,Z S Liske,5.0,Great card that is very fast and reliable. It ...,2014-03-31,252,0,0,0,0,0.0,0.0
4913,Z Taylor,5.0,Good amount of space for the stuff I want to d...,2013-09-16,448,0,0,0,0,0.0,0.0
4914,Zza,5.0,I've heard bad things about this 64gb Micro SD...,2014-02-01,310,0,0,0,0,0.0,0.0

In [3]:
df.shape[0]

4915

In [4]:
df['reviewText'].isna().any()

True

In [5]:
df['reviewText'].isna().sum()

1

In [6]:
df[df['reviewText'].isna()]

,reviewerName,overall,reviewText,reviewTime,day_diff,helpful_yes,helpful_no,total_vote,score_pos_neg_diff,score_average_rating,wilson_lower_bound
125,Alexander Stevens,5.0,NaN,2012-08-21,839,2,1,3,1,0.666667,0.20766

In [7]:
df.dropna(subset=['reviewText'], inplace=True)

In [8]:
df['reviewText'].isna().any()

False

In [9]:
# nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [10]:
new_df = df[['reviewText']]
new_df

                                             reviewText
0                                            No issues.
1     Purchased this for my device, it worked as adv...
2     it works as expected. I should have sprung for...
3     This think has worked out great.Had a diff. br...
4     Bought it with Retail Packaging, arrived legit...
...                                                 ...
4910  I bought this Sandisk 16GB Class 10 to use wit...
4911  Used this for extending the capabilities of my...
4912  Great card that is very fast and reliable. It ...
4913  Good amount of space for the stuff I want to d...
4914  I've heard bad things about this 64gb Micro SD...

[4914 rows x 1 columns]

In [11]:
transformed_df = new_df

### Removing StopWords

In [12]:
transformed_df['reviewText'] = new_df['reviewText'].apply(lambda x: ' '.join([word for word in x.split() if word not in stop_words]))
transformed_df

                                             reviewText
0                                            No issues.
1     Purchased device, worked advertised. You never...
2     works expected. I sprung higher capacity. I th...
3     This think worked great.Had diff. bran 64gb ca...
4     Bought Retail Packaging, arrived legit, orange...
...                                                 ...
4910  I bought Sandisk 16GB Class 10 use HTC Inspire...
4911  Used extending capabilities Samsung Galaxy Not...
4912  Great card fast reliable. It comes optional ad...
4913  Good amount space stuff I want do, fits GoPro....
4914  I've heard bad things 64gb Micro SD card crapp...

[4914 rows x 1 columns]

### Removing Punctuations

In [13]:
import string
transformed_df['reviewText'] = transformed_df['reviewText'].apply(lambda x: x.translate(str.maketrans('', '', string.punctuation)))
transformed_df

                                             reviewText
0                                             No issues
1     Purchased device worked advertised You never m...
2     works expected I sprung higher capacity I thin...
3     This think worked greatHad diff bran 64gb card...
4     Bought Retail Packaging arrived legit orange e...
...                                                 ...
4910  I bought Sandisk 16GB Class 10 use HTC Inspire...
4911  Used extending capabilities Samsung Galaxy Not...
4912  Great card fast reliable It comes optional ada...
4913  Good amount space stuff I want do fits GoPro W...
4914  Ive heard bad things 64gb Micro SD card crappi...

[4914 rows x 1 columns]

### Converting the string to lower Case

In [14]:
transformed_df['reviewText'] = transformed_df['reviewText'].apply(lambda x: x.lower())
transformed_df

                                             reviewText
0                                             no issues
1     purchased device worked advertised you never m...
2     works expected i sprung higher capacity i thin...
3     this think worked greathad diff bran 64gb card...
4     bought retail packaging arrived legit orange e...
...                                                 ...
4910  i bought sandisk 16gb class 10 use htc inspire...
4911  used extending capabilities samsung galaxy not...
4912  great card fast reliable it comes optional ada...
4913  good amount space stuff i want do fits gopro w...
4914  ive heard bad things 64gb micro sd card crappi...

[4914 rows x 1 columns]

### Removing Numeric characters

In [15]:
transformed_df['reviewText'] = transformed_df['reviewText'].apply(lambda x: ''.join([i for i in x if not i.isdigit()]))
transformed_df

                                             reviewText
0                                             no issues
1     purchased device worked advertised you never m...
2     works expected i sprung higher capacity i thin...
3     this think worked greathad diff bran gb card w...
4     bought retail packaging arrived legit orange e...
...                                                 ...
4910  i bought sandisk gb class  use htc inspire  mo...
4911  used extending capabilities samsung galaxy not...
4912  great card fast reliable it comes optional ada...
4913  good amount space stuff i want do fits gopro w...
4914  ive heard bad things gb micro sd card crapping...

[4914 rows x 1 columns]

In [16]:
%pip3.11 install emoji

UsageError: Line magic function `%pip3.11` not found.

### Removing emojis

In [17]:
import re
def remove_emoji(string):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F""]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', string)
transformed_df['reviewText'] = transformed_df['reviewText'].apply(lambda x: remove_emoji(x))
transformed_df

                                             reviewText
0                                             no issues
1     purchased device worked advertised you never m...
2     works expected i sprung higher capacity i thin...
3     this think worked greathad diff bran gb card w...
4     bought retail packaging arrived legit orange e...
...                                                 ...
4910  i bought sandisk gb class  use htc inspire  mo...
4911  used extending capabilities samsung galaxy not...
4912  great card fast reliable it comes optional ada...
4913  good amount space stuff i want do fits gopro w...
4914  ive heard bad things gb micro sd card crapping...

[4914 rows x 1 columns]

### Removing extra spaces

In [18]:
transformed_df['reviewText'] = transformed_df['reviewText'].apply(lambda x: ' '.join(x.strip().split()))
transformed_df

                                             reviewText
0                                             no issues
1     purchased device worked advertised you never m...
2     works expected i sprung higher capacity i thin...
3     this think worked greathad diff bran gb card w...
4     bought retail packaging arrived legit orange e...
...                                                 ...
4910  i bought sandisk gb class use htc inspire mont...
4911  used extending capabilities samsung galaxy not...
4912  great card fast reliable it comes optional ada...
4913  good amount space stuff i want do fits gopro w...
4914  ive heard bad things gb micro sd card crapping...

[4914 rows x 1 columns]

In [19]:
final_df = df.replace(df['reviewText'].tolist(), transformed_df['reviewText'].tolist())
final_df.shape[0]

4914

In [20]:
final_df.to_csv('amazon_reviews_cleaned.csv')